@font-face {
    font-family: miFamilia;
    src: url(/fonts/PixelifySans.ttf);
}

/* div {
    background-color: deepskyblue;
    border: 2px solid black;
    padding: 5px;
    margin: 20px;
} */

#uno {
    background-color: aquamarine;
}

.rojo {
    color: red;
    font-size: larger;
    font-weight: bolder;
    background-color: deepskyblue;
    text-align: center;
    font-family: miFamilia, Arial, Helvetica, sans-serif;
}

.azul {
    color: blue;
}

/* Aplica la regla a todos los selectores */
h1, h2 { 
    font-weight: bold;
}

div h1 {
    color: green;
}

div > h1 {
    color: blue;
}

div + h1 {
    color: red;
}

a {
    font-weight: normal;
    color: dodgerblue;
    text-decoration: none;
}

a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

a:visited {
    color: red;
}